<h1>Editing Observation</h1>

<%= tag.div data: { controller: "master" } do %>
  <% @observations.each do |observation| %>
    <%= render "quantity", observation: observation %>
  <% end %>

  <button data-action="master#submit">Save</button>
<% end %>

